<div class="row">
  <form>
    <div class="row">
      <label>First Name</label>
      <input type="text" id="fname" class="form-control" />
    </div>
    <div class="row">
      <label>Last Name</label>
      <input type="text" id="lname" class="form-control" />
    </div>
    <div class="row">
      <label>Egn</label>
      <input type="text" id="egn" class="form-control" />
    </div>
    <div class="row">
      <button class="btn btn-primary" type="submit">Add</button>
      <button class="btn btn-danger" type="button">Delete</button>
      <button class="btn btn-primary" type="button">Clear</button>
    </div>
  </form>
</div>
